<!doctype>
<html>
<head>
    <title>
    WELCOME TO LOGIN PAGE
    
    
    </title>
    
    
    </head>
    <body>
        <h1>this is delete form</h1>
        <form method="post" action="/reviews/{{review._id}}?_method=delete">
        ENTER PASSWORD
        <input type="password" name="password" required>
            <input type="submit" value="enter">
        </form>
    </body>
</html>